<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="connTradingBook" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=sa;password=;initial catalog=NewfalconTest;Persist Security Info=true" />
    <add name="connBNOTE" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=sa;password=;initial catalog=NewfalconTest;Persist Security Info=true" />
    <add name="connSNOTE" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=sa;password=;initial catalog=NewfalconTest;Persist Security Info=true" />
    <add name="connStatement" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=sa;password=;initial catalog=NewfalconTest;Persist Security Info=true" />
    <add name="connStatementReport" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=sa;password=;initial catalog=NewfalconTest;Persist Security Info=true" />
    <add name="connLedger2" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=sa;password=;initial catalog=NewfalconTest;Persist Security Info=true" />
    <add name="connCashbook" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=sa;password=;initial catalog=NewfalconTest;Persist Security Info=true" />
    <add name="connLedgerRpt" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=sa;password=;initial catalog=NewfalconTest;Persist Security Info=true" />
  </connectionStrings>
</configuration>